<html>
  <head>
    <title>Hello Manuel</title>
    <script type="text/javascript" src="{{ url_for('static', filename='webcamjs/webcam.js') }}"></script>

    <link rel="stylesheet" href="spectre.min.css">
    <link rel="stylesheet" href="spectre-exp.min.css">
    <link rel="stylesheet" href="spectre-icons.min.css">
  </head>
  <body>
		<div id="results">Your captured image will appear here...</div>

	<h1>WebcamJS Test Page</h1>
	<h3>Demonstrates simple 320x240 capture &amp; display</h3>

	<div id="my_camera"></div>

	<!-- Configure a few settings and attach camera -->
	<script language="JavaScript">
		Webcam.set({
			width: 320,
			height: 240,
			image_format: 'jpeg',
			jpeg_quality: 90
		});
		Webcam.attach( '#my_camera' );
	</script>

	<!-- Buttons for taking snaps -->
	<form>
		<input type=button value="Take Snapshot" onClick="take_snapshot()">
	</form>

  <form>
		<input type=button value="Take Snapshots in loop" onClick="take_snapshot_loop()">
	</form>

  <form>
    <input type=button value="Stop to take Snapshots in loop" onClick="stop_taking_snapshot()">
  </form>


  <script>

  var intervals = [0,0,0,0];

  function take_snapshot_loop() {

      var i1 = setInterval(take_snapshot, 5000);
      var i2 = setInterval(take_snapshot, 5250);
      var i3 = setInterval(take_snapshot, 5500);
      var i4 = setInterval(take_snapshot, 5750);

      intervals = [i1, i2, i3, i4];

      return intervals;
  }

  function stop_taking_snapshot() {
      clearInterval(intervals[0]);
      clearInterval(intervals[1]);
      clearInterval(intervals[2]);
      clearInterval(intervals[3]);
  }

	function take_snapshot() {
    // alert("Take Snapshot")
		// take snapshot and get image data
		Webcam.snap( function(data_uri) {
			// display results in page
			/*document.getElementById('results').innerHTML =
				'<h2>Here is your image:</h2>' +
				'<img src="'+data_uri+'"/>';*/
      Webcam.upload( data_uri, "{{ url_for('upload_photo') }}", function(code, text) {
		    // Upload complete!
		    // 'code' will be the HTTP response code from the server, e.g. 200
		    // 'text' will be the raw response content
        //console.log(text);
	    });
		});
		}
	</script>
  </body>
</html>
